@import "../../variables.scss";

.Toggle {
    button {
        font-size: 14px;
        letter-spacing: 0.4px;
        user-select: none;
        border: 1px solid transparent;
        border-color: $primary-color;
        color: $primary-color;
        background-color: white;

        position: relative;
        padding: 5px 16px;
        cursor: pointer;

        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: 0px;
        }

        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:disabled {
            background-color: #e6ebf4;
            color: #bdc0cf;
            cursor: not-allowed;
        }

        &.selected {
            background-color: $primary-color;
            color: white;

            &:disabled {
                background-color: #e6ebf4;
                color: #bdc0cf;
                cursor: not-allowed;
            }
        }
    }
}
