@import "~/src/variables.scss";

.Check {
    padding: 10px;

    .Description {
        padding-bottom: 5px;
    }

    &:hover {
        background-color: rgb(247, 245, 245);
    }

    &:focus,
    &:focus-within {
        background-color: $highlight-color;
        outline: none;
    }

    &.Disabled {
        opacity: 0.3;
        user-select: none;
        pointer-events: none;
    }

    .description {
        margin-bottom: 5px;
        font-size: 14px;
    }
}
