.Check {
    padding: 10px;

    &:hover {
        background-color: rgb(247, 245, 245);
    }

    &:focus,
    &:focus-within {
        background-color: var(--highlight-color);
        outline: none;
    }
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
}

.description {
    margin-bottom: 5px;
    font-size: 14px;
}
